<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="static/style/style.css">
    <!-- Start favIcon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon.ico">
    <!-- End favIcon -->
</head>
<body>
    <!-- Start form ascii art -->
    <div class="form-ascii-art">
        <div class="contains">
            <form action="/ascii-art" method="post">
                <div class="type">
                    <label for="banners">Choose banners </label>

                        <input type="radio" value="standard" name="banners"> standard 
                        <input type="radio" value="shadow"  name="banners">shadow
                        <input type="radio" value="thinkertoy"  name="banners">thinkertoy
                </div>
                    
                    
             
                <div class="text">
                    <label for="text" class="text">Write Your Text</label>
                    <textarea name="text" id="text" maxlength="5000"></textarea>
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>


</body>
</html>